{% if subcategory_list %}
    <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdown">
        {% for subcategory in subcategory_list %}
            <a class="dropdown-item " href="{% url 'article:category' subcategory.cate_name %}" style="font-family: 'Times New Roman', 宋体, 楷体, Cambria, Cochin, Georgia, Times, serif">
                <i class="fa fa-feather-alt" style="position: relative; top: 0.24rem;"></i>
                {{ subcategory.name }}
            </a>
        {% endfor %}
    </div>
{% endif %}
