<!DOCTYPE html>
<html lang="zh-CN">
{% load article_extra %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/monokai-sublime.css">
    <link rel="stylesheet" href="/static/css/mycss.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.14.0/css/all.css">
    <title>一往无前</title>
    <style>
        .codehilite {
            padding: 0;
        }

        .hljs-ln-numbers {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            text-align: center;
            color: #ccc;
            border-right: 1px solid #CCC;
            vertical-align: top;
            padding-right: 5px;
        }

        .hljs-ln-n {
            width: 30px;
        }

        .hljs-ln .hljs-ln-code {
            padding-left: 10px;
            white-space: pre;
        }
    </style>
</head>

<body>
<div class="header">
    <nav class="navbar fixed-top navbar-expand-lg ">
        <a class="navbar-brand" href="{% url 'article:index' %}">Zhangzyb's Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="fas fa-home"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% category %}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 search-input" type="search" aria-label="Search">
                <button class="btn btn btn-outline-primary my-2 my-sm-0 fa fa-search s active" type="submit"></button>
            </form>
        </div>
    </nav>
    <div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://api.ixiaowai.cn/gqapi/gqapi.php" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>
                            <script src="https://api.ly522.com/yan/?code=js"></script>
                            <script>xlhitokoto()</script>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://api.btstu.cn/sjbz/api.php?lx=fengjing&format=images"
                         class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>
                            <script type="text/javascript" src="https://api.ccswust.org/api/index.php?type=js"></script>
                            <script>ishan()</script>
                        </p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="https://api.vvhan.com/api/acgimg" class="d-block w-100 img-fluid" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <p>
                            <script type="text/javascript" src="https://api.vvhan.com/api/ian?type=js"></script>
                            <script>ishan()</script>
                        </p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div id="aside-second" class="card aside">
                <img id="bg1" class="card-img" src="https://i.loli.net/2020/09/15/uMKHBpynWsOzYbk.jpg" alt="">
                <div class="x">
                    <img id="bg" class="card-img-top " src="https://i.loli.net/2020/09/15/nAZhmDaB9uLvJ6l.jpg" alt="Card image cap">
                </div>
                <h4 class="card-title user">Zhangzyb</h4>
                <a id="g" href="https://github.com/Zhangzyb" data-toggle="tooltip" data-placement="top"
                   title="Github">
                    <img src="https://api.ly522.com/ico/favicon.php?url=github.com/" alt="Github"></a>
                <p class="card-text lg">总有人会被梦想抛弃。</p>
            </div>
            {% tag %}
            {% archive %}
        </div>
        <div class="col-12 col-lg-8">
            {% block article %}
            {% endblock article %}
        </div>
    </div>
</div>

<div class="footer">
    123
</div>
<script type="text/javascript" color="#17a2b8" opacity='0.7' zIndex="-2" count="200"
        src="//cdn.bootcss.com/canvas-nest.js/1.0.1/canvas-nest.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.js"></script>
<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
</script>
<script>
    var colors = ['badge badge-primary', 'badge badge-secondary', 'badge badge-success', 'badge badge-danger', 'badge badge-warning', 'badge badge-info', 'badge badge-light', 'badge badge-dark']
    $(".tag-set a").each(function (i, domEle) {
        $(domEle).addClass(colors[i % 8]);
    })
    var comment_common = $("#comment_div");
    $(".comment-item .reply").click(function () {
        comment_common.toggle();
        $(this).parent().siblings(".reply_div").toggle();
    })
    $(".reply-item .sub_reply").click(function () {
        comment_common.toggle();
        $(this).parent().siblings(".reply_div").toggle();
    })
    $(function () {
        $(window).scroll(function () {
            if ($(window).scrollTop() > 1000)
                $('div.go-top').show();
            else
                $('div.go-top').hide();
        });
        $('div.go-top').click(function () {
            $('html, body').animate({scrollTop: 0}, 1000);
        });
    });
</script>
</body>
</html>