/*bootstrap原始修改*/

@media (min-width: 1400px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1400px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1280px;
    }
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.1rem 0.7rem;
}

body {
    background: url('https://i.loli.net/2020/10/10/2Y4NH3Bdv8oxZjh.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #000000;
}

::selection {
    color: #fff;
    background-color: #000000;
}

.navbar {
    background-color: rgba(31, 29, 29, 0.4);
}

.nav-link, .navbar-brand {
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.nav-link:hover, .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
}

.container {
    margin-top: 30px;
}

.post-abstract {
    color: #6c757d;
}

.card {
    background-color: rgba(239, 252, 252, 0.9);
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.article, .detail-article {
    background-color: rgba(239, 252, 252, 0.9);
    border-radius: 20px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    transition-duration: 0.6s
}

.article:hover {
    -webkit-box-shadow: rgba(1, 130, 150, .2) 0 0 30px;
    -moz-box-shadow: rgba(1, 130, 150, .2) 0 0 30px;
    box-shadow: rgba(31, 29, 29, 0.4) 0 0 20px;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -10px, 0);
    border: 1px solid rgb(19, 176, 182);
    transition-duration: 0.6s
}

.no-gutters {
    padding-bottom: 0.5rem;
}

.info {
    float: left;
}

.info, .info-right {
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.info-right {
    float: right;
}

.line {
    margin-left: 10px;
}

a:hover {
    text-decoration: none;
}

.topline {
    margin-bottom: 4px;
}

.thumb {
    width: 100%;
    height: auto;
}

.bottom {
    padding-bottom: 0.2rem;
}

.container-fluid {
    color: rgb(233, 230, 219);
    background-color: rgb(14, 10, 10);
}

.carousel-caption p {
    font-size: 18px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.aside {
    margin: 15px 0;
}

.index-img {
    padding-bottom: 1rem;
}

.cate {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 1px 3px;
    background-color: #51aded;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.cate:hover {
    color: #ffffff;
}

.fa-caret-right {
    margin-left: -7px;
    margin-top: 0.3px;
    font-size: 16px;
    color: #51aded;
}

#aside-third {
    border-radius: 1rem;
}

.badge {
    font-size: 16px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
}

/* 文章详情页css */

.detail-title {
    text-align: center;
    color: rgba(13, 112, 241, 0.705);
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.detail-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.content {
    font-size: 20px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.content::first-line {
    text-indent: 2rem;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

.x {
    margin-top: -20%;
    margin: -20% auto 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px double rgba(243, 243, 239, .6);
    background-color: rgb(252, 249, 249);
    transition-duration: 0.6s
}

#bg {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 0.7s
}

.x:hover {
    -webkit-box-shadow: rgba(1, 130, 150, .2) 0 0 30px;
    -moz-box-shadow: rgba(1, 130, 150, .2) 0 0 30px;
    -webkit-transform: translate3d(0, -2, 0);
    box-shadow: rgba(31, 29, 29, 0.4) 0 0 20px;
    transform: translate3d(0, -10px, 0);
    border: 5px double rgba(243, 243, 239, .6);
    transition-duration: 0.6s
}

.user {
    margin: 0 auto 15px;
}

.lg {
    font-size: 1.5rem;
    margin: 0 auto;
    font-family: 华文行楷, 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.fa-home {
    font-size: 1.5rem;
    color: #fff;
}

.fa-home:hover {
    color: rgba(255, 255, 255, 0.8);
}

#g {
    margin: -10px auto 10px;
}

#aside-second {
    border-radius: 0 20px 20px;
    margin-top: -0.08rem;
}

.category {
    margin-left: 7px;
}

.post-date {
    /*margin: 0 10px;*/
    font-size: 1.3rem;
    padding: 1px 12px;
}

.fa-search {
    font-size: 24px;
}

.carousel-item > img {
    clip-path: inset(540px 0 0 0);
    margin-top: -540px;
    width: 100%;
}

.s:hover {
    color: rgba(255, 255, 255, 0.8);
}

.fa-search {
    font-size: 22px;
}

.fa-search:hover {
    color: rgba(255, 255, 255, 0.8);
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 40px;
}

.search-input {
    border-radius: 20px;
}

.article_info {
    position: relative;
    width: 100%;
    font-size: 2em;
    padding: 2px 25px;
    margin-bottom: 20px;
    background: hsla(0, 0%, 100%, .3);
    overflow: hidden;
    border-radius: 25px;
    font-family: 楷体, 'Times New Roman', Cambria, Cochin, Georgia, Times, serif;
}

.article_info::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(20px);
    margin: -30px;
}

.dropdown-menu {
    padding: 0;
    left: 0;
    background-color: rgba(214, 211, 211, 0.281);
}

.dropdown-menu a {
    text-align: center;
}

.dropdown-menu a:hover {
    color: aqua;
    background-color: rgba(31, 29, 29, 0.4);
}

.fa-feather-alt {
    float: left;
}

.form-group input,
.form-group textarea {
    margin-top: 10px;
    border: 2px solid #14c0b781;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
    border-radius: 10px;
    color: #000000;
}

.form-control:focus {
    border-radius: 10px;
    background-color: #fff;
    border-color: #14c0b781;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #14c0b781;
}

.form-group textarea {
    min-height: 120px;
    font-size: 20px;
}

.carousel-caption p {
    width: fit-content;
    background-color: #000000;
    margin: 0 auto;
}

.card {
    border-radius: 20px;
}

.comment-count {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.comment-item {
    margin: 0.5rem 2rem;
}

.reply-btn {
    position: relative;
}

.reply-btn button {
    position: absolute;
    right: 0.4rem;
    z-index: 10;
}

.user-img, .comment-img {
    width: 50px;
    height: 50px;
}

.user-img img, .comment-img img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.user-info {
    top: -3.3rem;
    left: 3.5rem;
    position: relative;
}

.comment-content {
    margin-top: -3rem;
    padding: 0 0 0 3rem;
    font-family: 'Times New Roman', 宋体, 楷体, Cambria, Cochin, Georgia, Times, serif;;
    color: #000;
}

.comment-form, .reply-form {
    margin: 1rem 2rem;
}

.comment-submit {
    text-align: right;
}

.reply-list {
    padding: 0 0 0 2.7rem;
}

.shortcut {
    padding: 0.1rem 0.7rem;
    font-size: 1.3rem;
}

.pre {
    float: left;
}

.next {
    float: right;
}

#tags {
    margin: 1.5rem 0 0.5rem 1rem;
    color: deepskyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    width: 100%;
    height: 7rem;
    margin-top: 6rem;
    text-align: center;
    padding-top: 1rem;
    background-color: rgba(6, 7, 6, 0.363);
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.h5 {
    color: rgba(255, 255, 255, 0.719);
}

.h5 a {
    color: rgb(19, 176, 182);
}

.pagination > span {
    margin: 0 auto;
}

.highlighted {
    color: #f92672;
}

#result_page {
    text-align: center;
    font-size: 1.2rem;
}

.latest_comment a:hover {
    color: #13131686;
}

.nav-tabs .nav-link.active {
    color: #fdfeff;
    background-color: transparent;
    border-color: transparent;
}

.latest_comment .nav-tabs {
    border: 0;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border-color: transparent;
}

.latest_comment .nav-link {
    color: #000000;
}

.latest_comment {
    background-image: url('https://i.loli.net/2020/09/29/PWuhdNkSwlHvfpK.jpg');
}

.recent-comment {
    border-style: solid none none;
    border-radius: 0 0 1rem 1rem;
    border-color: transparent;
    margin-bottom: 1rem;
}

.comment-list a, .comment-list a:hover {
    background-color: transparent;
}

.co, .co:hover {
    width: 100%;
    background-color: transparent;
}

.com-text {
    margin-top: 4px;
}

.list-group-item {
    padding: 0.5rem;
}

.hot-post {
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
}

.post-item {
    margin: 0 1rem 1rem 1rem;
    border: none;
}

.latest_comment, .comment-list{
    border-radius: 0 0 15px 15px;
}

.comment-list * {
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

#gotop {
    position: fixed;
    display: none;
    right: 0;
    bottom: 0;
}

#gotop span {
    width: 50px;
    height: 140px;
}

#gotop span:hover {
    cursor: pointer;
}

.like {
    margin-right: 1rem;
    font-size: 1.1rem;
    color: rgb(241, 71, 105);
    width: 77px;
    background-color: #fff;
    border: 3px solid rgb(241, 71, 105);
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
}

.like:hover{
    color: #fff;
    background-color: rgb(241, 71, 105);
}



[v-cloak] {
    display: none;
}
