body {
    background: url('https://i.loli.net/2020/08/28/K6Rd47yTanMUiL8.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #000000;
}

p::selection,
h5::selection,
span::selection,
h4::selection,
a::selection,
i::selection,
li::selection,
h1::selection,
h2::selection,
h3::selection,
h5::selection,
h6::selection,
strong::selection,
code::selection {
    color: #fff;
    background-color: #000000;
}

.navbar {
    background-color: rgba(31, 29, 29, 0.4);
}

.nav-link, .navbar-brand {
    color: #fff;
    font-size: 20px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.nav-link:hover, .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
}

.container {
    margin-top: 30px;
}

.post-abstract {
    color: #6c757d;
}

.card {
    background-color: rgba(239, 252, 252, 0.9);
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.article, .detail-article {
    background-color: rgba(239, 252, 252, 0.9);
    border-radius: 20px;
    box-shadow: rgba(31, 29, 29, 0.4) 0 0 20px;
    padding: 1.5rem 1.5rem 0 1.5rem;
    transition-duration: 0.6s
}

.article:hover {
    -webkit-box-shadow: rgba(1, 130, 150, .2) 0 0 30px;
    -moz-box-shadow: rgba(1, 130, 150, .2) 0 0 30px;
    box-shadow: rgba(31, 29, 29, 0.4) 0 0 20px;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -10px, 0);
    border: rgb(19, 176, 182);
    transition-duration: 0.6s
}

.no-gutters {
    padding-bottom: 0.5rem;
}

.info {
    float: left;
}

.info, .info-right {
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.info-right {
    float: right;
}

.line {
    margin-left: 10px;
}

a:hover {
    text-decoration: none;
}

.topline {
    margin-bottom: 4px;
}

.thumb {
    width: 100%;
    height: auto;
    /*display: block;*/
    /* padding-bottom: 1.6em; */
}

.bottom {
    padding-bottom: 0.2rem;
}

.container-fluid {
    color: rgb(233, 230, 219);
    background-color: rgb(14, 10, 10);
}

.carousel-caption p {
    font-size: 18px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

#mind {
    width: 30%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 7px;
    background-color: rgba(57, 241, 149, .3);
    font-family: 华文行楷, 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

#date {
    font-size: 1.5em;
    margin-left: 3%;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
    color: rgba(41, 174, 207, 0.863);
}

#sentence {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

#sentence::first-line {
    text-indent: 2em;
}

.aside {
    margin: 15px 0;
}

.card-img {
    padding-bottom: 1rem;
}

.cate {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 1px 3px;
    background-color: #51aded;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.cate:hover {
    color: #ffffff;
}

.fa-caret-right {
    margin-left: -7px;
    margin-top: 0.3px;
    font-size: 16px;
    color: #51aded;
}

#aside-third {
    border-radius: 1rem;
}

.badge {
    font-size: 16px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
}

/* 文章详情页css */

.detail-title {
    text-align: center;
    color: rgba(13, 112, 241, 0.705);
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.detail-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.content {
    font-size: 20px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.content::first-line {
    text-indent: 2rem;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}

.x {
    margin-top: -20%;
    margin: -20% auto 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px double rgba(243, 243, 239, .6);
    background-color: rgb(252, 249, 249);
    transition-duration: 0.6s
}

#bg {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 0.7s
}

.x:hover {
    -webkit-box-shadow: rgba(1, 130, 150, .2) 0 0 30px;
    -moz-box-shadow: rgba(1, 130, 150, .2) 0 0 30px;
    -webkit-transform: translate3d(0, -2, 0);
    box-shadow: rgba(31, 29, 29, 0.4) 0 0 20px;
    transform: translate3d(0, -10px, 0);
    border: 5px double rgba(243, 243, 239, .6);
    transition-duration: 0.6s
}

.user {
    margin: 0 auto 15px;
}

.lg {
    font-size: 1.5rem;
    margin: 0 auto;
    font-family: 华文行楷, 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.fa-home {
    font-size: 1.5rem;
    color: #fff;
}

.fa-home:hover {
    color: rgba(255, 255, 255, 0.8);
}

#g {
    margin: -10px auto 10px;
}

#aside-second {
    border-radius: 0 20px 20px;
    margin-top: -0.08rem;
}

.category {
    margin-left: 7px;
}

.post-date {
    margin: 0 10px;
    font-size: 1.3rem;
}

.fa-search {
    font-size: 24px;
}

.carousel-item > img {
    clip-path: inset(540px 0 0 0);
    margin-top: -540px;
    width: 100%;
}

.s:hover {
    color: rgba(255, 255, 255, 0.8);
}

.fa-search {
    font-size: 22px;
}

.fa-search:hover {
    color: rgba(255, 255, 255, 0.8);
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-radius: 40px;
}

.search-input {
    border-radius: 20px;
}

.article_info {
    position: relative;
    width: 100%;
    font-size: 2em;
    padding: 2px 25px;
    margin-bottom: 20px;
    background: hsla(0, 0%, 100%, .3);
    overflow: hidden;
    border-radius: 25px;
    font-family: 楷体, 'Times New Roman', Cambria, Cochin, Georgia, Times, serif;
}

.article_info::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(20px);
    margin: -30px;
}

.dropdown-menu {
    /* margin: 0; */
    padding: 0;
    left: 0;
    background-color: rgba(214, 211, 211, 0.281);
}

.dropdown-menu a {
    text-align: center;
}

.dropdown-menu a:hover {
    color: aqua;
    background-color: rgba(31, 29, 29, 0.4);
}

.fa-feather-alt {
    float: left;
}

.form-group input,
.form-group textarea {
    margin-top: 10px;
    border: 2px solid #14c0b781;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
    border-radius: 10px;
    color: #000000;
}

.form-control:focus {
    /*color: #000000;*/
    border-radius: 10px;
    background-color: #fff;
    border-color: #14c0b781;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #14c0b781;
}

.form-group textarea {
    min-height: 120px;
    font-size: 20px;
}

.carousel-caption p {
    width: fit-content;
    background-color: #000000;
    margin: 0 auto;
}

.card {
    border-radius: 20px;
}

.comment-count {
    text-align: center;
    margin: 1rem 0;
    font-size: 1.5rem;
}

.comment-item {
    /* background-color: rgba(25, 150, 52, 0.178); */
    margin: 0.5rem 2rem;
}

.reply-btn {
    position: relative;
}

.reply-btn button {
    position: absolute;
    right: 0.4rem;
    z-index: 10;
}

.user-img {
    width: 50px;
    height: 50px;
}

.user-img img {
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
}

.user-info {
    top: -3.3rem;
    left: 3.5rem;
    position: relative;
}

.comment-content {
    margin-top: -3rem;
    /*text-indent: 2em;*/
    padding: 0 0 0 3rem;
}

.comment-form, .reply-form {
    margin: 1rem 2rem;
}

.comment-submit {
    text-align: right;
}

.reply-list {
    padding: 0 0 0 2.7rem;
}

/*.reply-item {*/
/*    padding: 1rem 0 0 1rem;*/
/*    background-color: rgba(64, 233, 163, 0.199);*/
/*}*/

.shortcut{
    padding: 0.1rem 0.7rem;
}

.pre{
    float: left;
}

.next{
    float: right;
}


