body {
    background: url('/static/img/555.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: #000000;
}

.navbar {
    background-color: rgba(31, 29, 29, 0.4);
}

.nav-link, .navbar-brand {
    color: #fff;
}

.nav-link:hover, .navbar-brand:hover {
    color: rgba(255, 255, 255, 0.8);
}

.container {
    margin-top: 30px;
}

.post-abstract{
    color:#6c757d;
}

.card {
    background-color: rgba(239, 252, 252, 0.9);
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.article, .detail-article {
    background-color: rgba(239, 252, 252, 0.9);
    border-radius: 20px;
    box-shadow: rgba(31, 29, 29, 0.4) 0px 0px 20px;
    padding: 1.5rem 1.5rem 0rem 1.5rem;
    transition-duration: 0.6s
}

.article:hover {
    -webkit-box-shadow: rgba(1, 130, 150, .2) 0px 0px 30px;
    -moz-box-shadow: rgba(1, 130, 150, .2) 0px 0px 30px;
    box-shadow: rgba(31, 29, 29, 0.4) 0px 0px 20px;
    -webkit-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -10px, 0);
    border: rgb(19, 176, 182);
    transition-duration: 0.6s
}

.no-gutters {
    padding-bottom: 0.5rem;
}

.info {
    float: left;
}

.info, .info-right {
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.info-right {
    float: right;
}

.line {
    margin-left: 10px;
}

a:hover {
    text-decoration: none;
}

.topline{
    margin-bottom: 4px;
}

.thumb {
    width: 100%;
    height: auto;
    /*display: block;*/
    /* padding-bottom: 1.6em; */
}

.bottom {
    padding-bottom: 0.2rem;
}

.container-fluid {
    color: rgb(233, 230, 219);
    background-color: rgb(14, 10, 10);
}

#mind {
    width: 30%;
    font-size: 20px;
    text-align: center;
    margin-bottom: 7px;
    background-color: rgba(57, 241, 149, .3);
    font-family: 华文行楷,'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

#date {
    font-size: 1.5em;
    margin-left: 3%;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
    color: rgba(41, 174, 207, 0.863);
}

#sentence {
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

#sentence::first-line {
    text-indent: 2em;
}

.aside {
    margin: 15px 0px;
}

.card-img {
    padding-bottom: 1rem;
}

.cate {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    padding: 1px 3px;
    background-color: #51aded;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.cate:hover {
    color: #ffffff;
}

.fa-caret-right {
    margin-left: -7px;
    margin-top: 0.3px;
    font-size: 16px;
    color: #51aded;
}

#aside-third {
    border-radius: 1rem;
    /* background-color: #fff; */
}

.badge {
    font-size: 16px;
    margin: 5px;
    border-radius: 15px;
    text-align: center;
}

/* 文章详情页css */

.detail-title {
    text-align: center;
    color: rgba(13, 112, 241, 0.705);
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.detail-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.content {
    font-size: 20px;
    font-family: 'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.content::first-line {
    text-indent: 2rem;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
    pointer-events: none;
}

.x {
    margin-top: -20%;
    margin: -20% auto 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px double rgba(243, 243, 239, .6);
    background-color: rgb(252, 249, 249);
    transition-duration: 0.6s
}

#bg {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    overflow: hidden;
    /* float: left; */
    transition-duration: 0.7s
}

.x:hover {
    -webkit-box-shadow: rgba(1, 130, 150, .2) 0px 0px 30px;
    -moz-box-shadow: rgba(1, 130, 150, .2) 0px 0px 30px;
    -webkit-transform: translate3d(0, -2px, 0);
    box-shadow: rgba(31, 29, 29, 0.4) 0px 0px 20px;
    transform: translate3d(0, -10px, 0);
    border: 5px double rgba(243, 243, 239, .6);
    transition-duration: 0.6s
}

.user {
    margin: 0px auto 15px;
}

.lg {
    font-size: 1.5rem;
    margin: 0 auto;
    font-family: 华文行楷,'Times New Roman', 楷体, Cambria, Cochin, Georgia, Times, serif;
}

.fa-home {
    font-size: 1.5rem;
    color: #fff;
}

.fa-home:hover {
    color: rgba(255, 255, 255, 0.8);
}

#g {
    margin: -10px auto 10px;
}

#aside-second {
    border-radius: 0px 20px 20px;
}

.category{
    margin-left: 7px;
}

.post-date {
    margin: 0 10px;
    font-size: 1.3rem;
}

.fa-search{
    font-size: 24px;
}

.carousel-item > img{
    /* clip-path: inset(0 100% 50% 0); */
    clip-path: inset(50% 0 0 0);
    margin-top: -30%;
    width: 100%;
}

.s:hover {
    color: rgba(255, 255, 255, 0.8);
}

.fa-search {
    /*color: #fff;*/
}

.fa-search:hover {
    color: rgba(255, 255, 255, 0.8);
}

.btn-outline-primary {
    color: white;
    border-color: white;
}

.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show>.btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.search-input{
    border-radius: 20px;
}